<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>jjdd2okularnicy.eu.auth0.com</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>wqOEyp78qp7xUQ5FdrUjqqiupHkTDLfL</param-value>
    </context-param>
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>fCfyy6bvOp0wlK-6Awhfjk8AUEbP8YodpiCgbU7sE7-U1Y7yGVf7Z4pZebwpu3z2</param-value>
    </context-param>

</web-app>